.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
	position: absolute;
	width: 1914px;
	height: 1694px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	fill: rgba(77,205,214,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 116px;
	left: 0px;
	top: 0px;
}
#Group_3 {
	position: absolute;
	width: 1920px;
	height: 1670px;
	left: 0px;
	top: 23px;
	overflow: visible;
}
#Search {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 1109px;
	top: 6px;
	overflow: visible;
}
#Rectangle_693 {
	fill: transparent;
}
.Rectangle_693 {
	position: absolute;
	overflow: visible;
	width: 58px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Path_208 {
	fill: rgba(255,255,255,1);
}
.Path_208 {
	overflow: visible;
	position: absolute;
	width: 57.9px;
	height: 57.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Add {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 1392px;
	top: 6px;
	overflow: visible;
}
#Union_1 {
	fill: rgba(239,241,242,1);
}
.Union_1 {
	overflow: visible;
	position: absolute;
	width: 58px;
	height: 58px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Search_n {
	left: 1198px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 142px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
}
#offer_a_ride {
	left: 1481px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
	text-transform: capitalize;
}
#carpool_for_all {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
	text-transform: capitalize;
}
#Rectangle_694 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_694 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 337px;
	left: 0px;
	top: 142px;
}
#Rectangle_695 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_695 {
	position: absolute;
	overflow: visible;
	width: 1802px;
	height: 107px;
	left: 49px;
	top: 311px;
}
#maps-and-flags {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 131px;
	top: 338px;
	overflow: visible;
}
#From {
	left: 232px;
	top: 327px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
	text-transform: capitalize;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 64px;
	left: 440.5px;
	top: 327.5px;
	transform: matrix(1,0,0,1,0,0);
}
#maps-and-flags_v {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 489px;
	top: 333px;
	overflow: visible;
}
#destination {
	left: 590px;
	top: 327px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
	text-transform: capitalize;
}
#Line_2 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 64px;
	left: 930.5px;
	top: 327px;
	transform: matrix(1,0,0,1,0,0);
}
#calendar {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 979px;
	top: 338px;
	overflow: visible;
}
#travel_on {
	left: 1080px;
	top: 328px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
	text-transform: capitalize;
}
#Line_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 64px;
	left: 1377.5px;
	top: 327px;
	transform: matrix(1,0,0,1,0,0);
}
#Profile {
	position: absolute;
	width: 53px;
	height: 41.506px;
	left: 1426.5px;
	top: 338.247px;
	overflow: visible;
}
#Union_1_ {
	fill: rgba(0,0,0,1);
}
.Union_1_ {
	overflow: visible;
	position: absolute;
	width: 53px;
	height: 41.506px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_ {
	left: 1528px;
	top: 327px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
}
#Rectangle_696 {
	fill: rgba(77,205,214,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_696 {
	position: absolute;
	overflow: visible;
	width: 259px;
	height: 107px;
	left: 1592px;
	top: 311px;
}
#search {
	left: 1654px;
	top: 328px;
	position: absolute;
	overflow: visible;
	width: 142px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(112,112,112,1);
	text-transform: capitalize;
}
#Group_1 {
	position: absolute;
	width: 280px;
	height: 175px;
	left: 381px;
	top: 727px;
	overflow: visible;
}
#Post_Thumbnail_1 {
	position: absolute;
	width: 280px;
	height: 175px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Saves_Money {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 281px;
	height: 23px;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#It_saves_money_It_saves_money_ {
	left: 0px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 266px;
	height: 112px;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_1_ba {
	position: absolute;
	width: 280px;
	height: 145px;
	left: 814px;
	top: 727px;
	overflow: visible;
}
#Post_Thumbnail_1_bb {
	position: absolute;
	width: 280px;
	height: 145px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Saves_Time {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 281px;
	height: 23px;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#It_saves_time_It_saves_time_It {
	left: 0px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 266px;
	height: 82px;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_1_be {
	position: absolute;
	width: 280px;
	height: 175px;
	left: 1247px;
	top: 727px;
	overflow: visible;
}
#Post_Thumbnail_1_bf {
	position: absolute;
	width: 280px;
	height: 175px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#reduces_carbon_emission {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 281px;
	height: 23px;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
	text-transform: capitalize;
}
#Reduces_carbon_emission_Reduce {
	left: 0px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 266px;
	height: 112px;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#save-money {
	position: absolute;
	width: 110px;
	height: 110px;
	left: 381px;
	top: 561px;
	overflow: visible;
}
#history {
	position: absolute;
	width: 110px;
	height: 110px;
	left: 814px;
	top: 561px;
	overflow: visible;
}
#co2 {
	position: absolute;
	width: 110px;
	height: 110px;
	left: 1247px;
	top: 561px;
	overflow: visible;
}
#Base {
	position: absolute;
	width: 1920px;
	height: 194px;
	left: 0px;
	top: 1476px;
	overflow: visible;
}
#Base_bm {
	fill: rgba(77,205,214,1);
}
.Base_bm {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 194px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#START_A_PROJECT {
	left: 60px;
	top: 1479px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#SAY_HELLO {
	left: 431px;
	top: 1529px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#JOBS {
	left: 831px;
	top: 1529px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Profile_bq {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 1793px;
	top: 6px;
	overflow: visible;
}
#Union_1_br {
	fill: rgba(255,255,255,1);
}
.Union_1_br {
	overflow: visible;
	position: absolute;
	width: 58px;
	height: 58px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Down_arrow_small {
	position: absolute;
	width: 38px;
	height: 28.546px;
	left: 1865px;
	top: 35px;
	overflow: visible;
}
#Path_36 {
	fill: rgba(248,249,249,1);
}
.Path_36 {
	overflow: visible;
	position: absolute;
	width: 38px;
	height: 28.546px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#We_are_ready_for_the_challenge {
	left: 60px;
	top: 1549px;
	position: absolute;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#n_97_Evergreen_Rd_Roseville_CA {
	left: 449px;
	top: 1569px;
	position: absolute;
	overflow: visible;
	width: 369px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#We_are_always_looking_for_tale {
	left: 859px;
	top: 1569px;
	position: absolute;
	overflow: visible;
	width: 305px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Social {
	position: absolute;
	width: 95.311px;
	height: 14px;
	left: 1764px;
	top: 1536px;
	overflow: visible;
}
#Path_38 {
	fill: rgba(255,255,255,1);
}
.Path_38 {
	overflow: visible;
	position: absolute;
	width: 7.311px;
	height: 14px;
	left: 88px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_39 {
	fill: rgba(255,255,255,1);
}
.Path_39 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 11.356px;
	left: 44px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_40 {
	fill: rgba(255,255,255,1);
}
.Path_40 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}